.u-section-1 .u-sheet-1 {
  min-height: 229px;
}

.u-section-1 .u-text-1 {
  width: 682px;
  font-weight: 700;
  margin: 72px auto 0;
}

.u-section-1 .u-text-2 {
  width: 682px;
  margin: 13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 693px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 21px 717px 0 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: -52px 434px 0 570px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: -53px 43px 0 880px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 21px 887px 0 37px;
}

.u-section-2 .u-image-1 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 617px;
}

.u-section-2 .u-image-2 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 954px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 23px 887px 0 37px;
}

.u-section-2 .u-image-3 {
  width: 41px;
  height: 41px;
  margin: -39px auto 0 617px;
}

.u-section-2 .u-image-4 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 954px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 18px 885px 0 39px;
}

.u-section-2 .u-image-5 {
  width: 41px;
  height: 41px;
  margin: -34px auto 0 617px;
}

.u-section-2 .u-image-6 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 954px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 18px 887px 0 37px;
}

.u-section-2 .u-image-7 {
  width: 41px;
  height: 41px;
  margin: -34px auto 0 617px;
}

.u-section-2 .u-image-8 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 954px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 18px 887px 0 37px;
}

.u-section-2 .u-image-9 {
  width: 41px;
  height: 41px;
  margin: -34px auto 0 617px;
}

.u-section-2 .u-image-10 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 954px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: 25px 732px 0 15px;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 16px 15px 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 22px 962px 0 15px;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: -30px 794px 0 184px;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  margin: -43px 794px 0 184px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -26px auto 0 887px;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  width: 651px;
  margin: 55px auto 48px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 349px;
    margin-left: -188px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -53px;
    margin-right: 210px;
    margin-left: 327px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: -50px;
    margin-left: 587px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 33px;
    margin-right: 517px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 14px;
    margin-left: 508px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -90px;
    margin-left: 768px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-right: 703px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -83px;
    margin-left: 508px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 8px;
    margin-left: 768px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: 703px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -35px;
    margin-left: 508px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 768px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 14px;
    margin-right: 702px;
    margin-left: 21px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 508px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 768px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 15px;
    margin-right: 702px;
    margin-left: 22px;
  }

  .u-section-2 .u-image-9 {
    margin-right: 391px;
    margin-left: auto;
  }

  .u-section-2 .u-image-10 {
    margin-left: 768px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 24px;
    margin-right: 537px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 23px;
    margin-right: 766px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -29px;
    margin-right: 593px;
    margin-left: 185px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: -49px;
    margin-right: 592px;
    margin-left: 185px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -32px;
    margin-right: 79px;
    margin-left: auto;
  }

  .u-section-2 .u-text-14 {
    margin-top: 72px;
    margin-bottom: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 22px;
    margin-right: 429px;
    margin-left: -15px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -40px;
    margin-right: 85px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -39px;
    margin-left: 477px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 4px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 61px;
    margin-left: 414px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -136px;
    margin-left: 595px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 500px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 414px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 595px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 15px;
    margin-right: 500px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -84px;
    margin-left: 414px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 9px;
    margin-left: 594px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 12px;
    margin-right: 500px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -37px;
    margin-left: 414px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 594px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 13px;
    margin-right: 501px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-9 {
    margin-right: 266px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -39px;
    margin-left: 595px;
  }

  .u-section-2 .u-text-9 {
    font-size: 2.25rem;
    margin-top: 23px;
    margin-right: 327px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 15px;
    margin-right: 551px;
    margin-left: 6px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-12 {
    margin-top: -49px;
    margin-right: 408px;
    margin-left: 150px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 0;
    margin-right: 408px;
    margin-left: 149px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -42px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 48px;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 290px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-2 {
    width: 403px;
    margin-top: -74px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: -15px;
    margin-left: 352px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 67px;
    margin-right: 127px;
    margin-left: 11px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 108px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -190px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 22px;
    margin-right: 314px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -86px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 55px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -29px;
    margin-right: 313px;
    margin-left: 11px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -91px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: -36px;
    margin-left: 431px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 66px;
    margin-right: 313px;
    margin-left: 11px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -90px;
    margin-left: auto;
  }

  .u-section-2 .u-image-8 {
    margin-top: 14px;
    margin-left: 431px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 19px;
    margin-right: 433px;
    margin-left: 13px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -41px;
    margin-right: auto;
  }

  .u-section-2 .u-image-10 {
    margin-top: -35px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 44px;
    margin-right: 147px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-11 {
    margin-top: 13px;
    margin-right: 377px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
    margin-top: -44px;
    margin-right: 229px;
    margin-left: 149px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
    margin-right: 229px;
    margin-left: 148px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
    margin-left: 365px;
  }

  .u-section-2 .u-text-14 {
    width: 540px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 24px;
    margin-right: 197px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -44px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: -22px;
    margin-right: -10px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 55px;
    margin-right: 210px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 89px;
    margin-left: 182px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -164px;
    margin-left: 271px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 13px;
    margin-right: 206px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -76px;
    margin-left: 182px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 45px;
    margin-left: 271px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
    margin-top: -31px;
    margin-right: 227px;
    margin-left: -4px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -75px;
    margin-left: 182px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -45px;
    margin-left: 271px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 55px;
    margin-right: 251px;
    margin-left: -5px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -70px;
    margin-left: 182px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -2px;
    margin-left: 271px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    margin-top: 6px;
    margin-right: 120px;
    margin-left: 4px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -31px;
    margin-left: 182px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -41px;
    margin-left: 271px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.875rem;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 2.25rem;
    margin-right: 177px;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.75rem;
    margin-top: -33px;
    margin-right: 77px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-13 {
    font-size: 0.75rem;
    margin-right: 124px;
    margin-left: 101px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -32px;
    margin-left: 239px;
    padding: 9px 12px 10px 10px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.75rem;
    width: auto;
    margin: 25px 0 24px;
  }
}